

html{
	width: 100%;
}
body{
	background-image: url("../img/b.png");
	background-color:rgba(255,0,0,0.5);
	text-align: center;
	margin: 0px auto 0px auto;
	font-family: arial,sans-serif;
}

canvas{
	opacity: 1;
	margin: 30px auto 0px auto;
	display: block;
	box-shadow: 0 0 50px #000;
	z-index: 1;
}
form{
	position: absolute;
    top: 300px;
    width: 100%;
    z-index: 2;
}

textarea {
  	outline: none;
  	resize: none;
}


#login{
	font-size: 100;
	position: absolute;
    top: 300px;
    width: 100%;
    z-index: 2;
}

#loginbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

#loginbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}

#loginbutton:active {
	position:relative;
	top:1px;
}

#chat {
	margin: 30px auto 30px auto;
}

